**/.vscode/**
**/__pycache__/**
ArduinoSketch/enableAutoUpload
..*
*.sublime-workspace
*.sublime-project
ArduinoSketch/config/*
CadFiles/**/*.FCStd1
PcbDesignes/**/*-cache*
PcbDesignes/**/*.sch-bak
.thankyou
ArduinoSketch/last*.txt
ArduinoSketch/*ToLoad.txt
